.redColor{
    color: red;
    font-size: 30px;;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.blueColor{
    color:blue;
    font-size: 30px;;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.grayColor{
    color:gray;
    font-size: 30px;;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.greenColor{
    color:green;
    font-size: 30px;;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}